<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th{
      text-align: left;
    }
  </style>


<body>
  <h1>Fantasy League - NFL Teams</h1>

  <a href="/home/uid={{uid}}/lid={{lid}}">Homepage</a>
  <a href="/myteam/uid={{uid}}/lid={{lid}}">My Team</a>
  <a href="/players/uid={{uid}}/lid={{lid}}">Players</a>
  <a href="/league/uid={{uid}}/lid={{lid}}">League</a>
  <a href="/nfl/uid={{uid}}/lid={{lid}}">NFL Teams</a>
  <p></p>

  <table style="width:100%">
      <tr>
        <th>Team</th>
        <th>Location</th>
      </tr>
      {% for n in nfl_teams %}
        <tr><td>{{n}}</td><td>{{nfl_teams[n]}}</td> </tr>
      {% endfor %}


  <table style="width:100%">
      <tr>
        <th>Coach</th>
        <th>Position</th>
        <th>Team</th>
      </tr>
      {% for n in coaches %}
        <tr><td>{{n}}</td><td>{{coaches[n][1]}}</td> <td>{{coaches[n][0]}}</td></tr>
      {% endfor %}


</body>


</html>